/* Stanford Access Control Styles */

.alert.alert-block.stanford-access-control {
  border: none;
  background-color: #ffffc0;
  border-bottom: 5px solid #fff68f;
  color: #333333;
  text-shadow: none;
}

.alert.alert-block.stanford-access-control a {
  color: #333333;
}

.alert.alert-block.stanford-access-control a.close {
  text-shadow: none;
  opacity: 0.75;
  font-weight: 300;
}

.alert.alert-block.stanford-access-control a.close:hover,
.alert.alert-block.stanford-access-control a.close:focus {
  font-weight: 600;
}